@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  box-sizing: border-box;
}

/* ****************************
*******************************
HEADER
*******************************
**************************** */

.header {
  height: 136px;
  padding-inline: 24px;
  background-color: var(--primary-bg-color);
  background-image: url("./assets/mobile/bg-pattern-header.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
}

/* ****************************
*******************************
LIGHT/DARK MODE TOGGLE SWITCH
*******************************
**************************** */

.toggle-container {
  display: flex;
  align-items: center;
}

.toggle {
  position: relative;
  margin-inline: 16px;
}

.toggle input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.toggle label {
  position: relative;
  display: flex;
  align-items: center;
  height: 24px;
}

.toggle label:before {
  content: "";
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  border-radius: 20px;
  background-color: #fff;
  transition: 0.2s ease;
}

.toggle label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border-radius: 20px;
  background: #5964e0;
  transform: translate(5px, 5px);
  transition: 0.2s ease;
}

.toggle input[type="checkbox"]:checked + label:after {
  background: #5964e0;
  transform: translate(29px, 5px);
}

.toggle input[type="checkbox"]:checked + label:before {
  box-shadow: 0 0 12px #0003, inset 0 0 #fff;
}

/* ****************************
*******************************
MAIN
*******************************
**************************** */

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 17px 24px 60px;
  background-color: var(--primary-bg-color);
}

/* ****************************
*******************************
SEARCH BAR
*******************************
**************************** */

.search-wrapper {
  transform: translateY(-58px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-bg-color);
  width: 100%;
  height: 80px;
  border-radius: 6px;
}

.filter-title-container img {
  display: none;
}

#filter-title-lg {
  display: none;
}

.filter-location-container {
  display: none;
}

.filter {
  border: none;
  margin-left: 22px;
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
}

.filter-search-container {
  display: flex;
  align-items: center;
}

.filter-full-time,
.only-span {
  display: none;
}

.search-btn {
  width: 48px;
  height: 48px;
  margin: 0 15px 0 24px;
  border-radius: 5px;
  background-color: var(--primary-color);
}

.search-btn img {
  transform: translate(50%, 50%);
}

.search-btn span {
  display: none;
}

/* ****************************
*******************************
JOBS LIST
*******************************
**************************** */

.jobs-list {
  width: 100%;
}

.job {
  position: relative;
  height: 234px;
  padding-inline: 33px;
  border-radius: 6px;
  margin-bottom: 39px;
  background-color: var(--secondary-bg-color);
}

.job:last-of-type {
  margin-bottom: 30px;
}

.job__logo {
  position: absolute;
  top: -25px;
  left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 14px;
}

.job__info {
  padding: 22px 0 26px;
}

.job__info:last-of-type {
  padding-bottom: 0;
}

.job__info p {
  margin: 0;
  color: var(--secondary-text-color);
}

.bullet {
  margin-inline: 5px;
  color: var(--secondary-text-color);
  font-size: 2.5rem;
}

.job__info h4 {
  margin: 5px 0 14px;
  color: var(--primary-text-color);
  font-size: 20px;
}

.job__location {
  margin: 43px 0 0;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 700;
}

/* ****************************
*******************************
MORE BUTTON
*******************************
**************************** */

.btn {
  width: 141px;
  height: 48px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--secondary-bg-color);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

/* ****************************
*******************************
768 MEDIA QUERIES
*******************************
**************************** */

@media screen and (min-width: 768px) {
  .header {
    height: 160px;
    padding-inline: 39px;
    background-image: url("./assets/tablet/bg-pattern-header.svg");
  }

  .main {
    padding: 28px 39px 60px;
  }

  .search-wrapper {
    justify-content: center;
    transform: translateY(-69px);
  }

  .filter-title-container,
  .filter-location-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 2;
    height: 80px;
    padding-left: 25px;
    border-right: 1px solid rgba(110, 128, 152, 0.2);
  }

  .filter-title-container input,
  .filter-location-container input {
    width: 158px;
    padding-bottom: 3px;
    margin: 0 0 4px 14px;
  }

  .filter-title-container img {
    display: block;
  }

  .filter-search-container {
    justify-content: flex-end;
    flex-grow: 1;
    max-width: 252px;
    margin: 0 15px 0 20px;
  }

  .filter-full-time {
    display: block;
    padding-bottom: 8px;
    font-weight: 700;
  }

  .filter-full-time input {
    display: none;
  }

  .full-time-span {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 1px;
    color: var(--primary-text-color);
  }

  .full-time-span::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    margin: 6px 17px 0 0;
    background-color: #979797;
    opacity: 0.1035;
    mix-blend-mode: normal;
    border-radius: 3px;
  }

  .filter-btn {
    display: none;
  }

  .search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    margin: 0 0 0 28px;
  }

  .search-btn img {
    display: none;
  }

  .search-btn span {
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
  }

  .jobs-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9px;
  }

  .jobs-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9px;
  }

  .job {
    margin-bottom: 54px;
  }

  .job:last-of-type {
    margin-bottom: 56px;
  }
}

/* ****************************
*******************************
1440 MEDIA QUERIES
*******************************
**************************** */

@media screen and (min-width: 1440px) {
  .header {
    padding-inline: 165px;
    background-image: url("./assets/desktop/bg-pattern-header.svg");
  }

  .main {
    padding: 70px 165px 104px;
  }

  .search-wrapper {
    transform: translateY(-108px);
  }

  .filter-title-container,
  .filter-location-container {
    flex-grow: 1;
  }

  .filter-location-container {
    min-width: 300px;
  }

  .filter-title-container input {
    width: 351px;
  }

  #filter-title {
    display: none;
  }

  #filter-title-lg {
    display: block;
  }

  .filter-full-time {
    display: flex;
    align-items: center;
  }

  .filter-search-container {
    max-width: 314px;
    margin: 0 16px 0 20px;
  }

  .only-span {
    display: block;
    margin-left: 4px;
  }

  .search-btn {
    width: 123px;
    margin: 0 0 0 27px;
  }

  .jobs-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .job {
    margin-bottom: 40px;
  }
}

