@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  box-sizing: border-box;
}

/* ****************************
*******************************
HEADER
*******************************
**************************** */

.header {
  height: 136px;
  padding-inline: 24px;
  background-color: var(--primary-bg-color);
  background-image: url("./assets/mobile/bg-pattern-header.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
}

/* ****************************
*******************************
LIGHT/DARK MODE TOGGLE SWITCH
*******************************
**************************** */

.toggle-container {
  display: flex;
  align-items: center;
}

.toggle {
  position: relative;
  margin-inline: 16px;
}

.toggle input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.toggle label {
  position: relative;
  display: flex;
  align-items: center;
  height: 24px;
}

.toggle label:before {
  content: "";
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  border-radius: 20px;
  background-color: #fff;
  transition: 0.2s ease;
}

.toggle label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border-radius: 20px;
  background: #5964e0;
  transform: translate(5px, 5px);
  transition: 0.2s ease;
}

.toggle input[type="checkbox"]:checked + label:after {
  background: #5964e0;
  transform: translate(29px, 5px);
}

.toggle input[type="checkbox"]:checked + label:before {
  box-shadow: 0 0 12px #0003, inset 0 0 #fff;
}

/* ****************************
*******************************
MAIN
*******************************
**************************** */

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 17px 24px 60px;
  background-color: var(--primary-bg-color);
}

/* ****************************
*******************************
SEARCH BAR
*******************************
**************************** */

.search-wrapper {
  transform: translateY(-58px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-bg-color);
  width: 100%;
  height: 80px;
  border-radius: 6px;
}

.filter-title-container img {
  display: none;
}

#filter-title-lg {
  display: none;
}

.filter-location-container {
  display: none;
}

.filter {
  border: none;
  margin-left: 22px;
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
}

.filter-search-container {
  display: flex;
  align-items: center;
}

.filter-full-time,
.only-span {
  display: none;
}

.search-btn {
  width: 48px;
  height: 48px;
  margin: 0 15px 0 24px;
  border-radius: 5px;
  background-color: var(--primary-color);
}

.search-btn img {
  transform: translate(50%, 50%);
}

.search-btn span {
  display: none;
}

/* ****************************
*******************************
JOBS LIST
*******************************
**************************** */

.jobs-list {
  width: 100%;
}

.job {
  position: relative;
  height: 234px;
  padding-inline: 33px;
  border-radius: 6px;
  margin-bottom: 39px;
  background-color: var(--secondary-bg-color);
}

.job:last-of-type {
  margin-bottom: 30px;
}

.job__logo {
  position: absolute;
  top: -25px;
  left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 14px;
}

.job__info {
  padding: 22px 0 26px;
}

.job__info:last-of-type {
  padding-bottom: 0;
}

.job__info p {
  margin: 0;
  color: var(--secondary-text-color);
}

.bullet {
  margin-inline: 5px;
  color: var(--secondary-text-color);
  font-size: 2.5rem;
}

.job__info h4 {
  margin: 5px 0 14px;
  color: var(--primary-text-color);
  font-size: 20px;
}

.job__location {
  margin: 43px 0 0;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 700;
}

/* ****************************
*******************************
MORE BUTTON
*******************************
**************************** */

.btn {
  width: 141px;
  height: 48px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--secondary-bg-color);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

}
